#header-tag:hover{
  transform: perspective(200px) translateZ(20px);
  line-height: 30px;
  text-decoration: underline;
}

 input[type="text"]::placeholder{
  font-weight: 400;
  font-size: larger;
  color: crimson
}
#close-id:hover{
  padding: 15px ;
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}
#update-id:hover{
  padding: 15px ;
  background-color: green;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}
#button-tag>#delete-id:hover{
  padding: 15px ;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}
#button-tag>#edit-id:hover{
  padding: 15px ;
  background-color: gold;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}